h2{
    color: rgba(51, 0, 0, );
}
h2{
    color: rgba(71, 17, 0,)
}
.Encabezado{
    background-color: aqua;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.LogoDiv{
    width: 20%;
    background-color: aqua;
    justify-content: center;
    align-items: flex-start;
    display: flex; 
}
.LogoDiv img{
    width: 300px;
    display: block;
}

.menuDiv{
    width: 60%;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    display: flex;
}
.menuDiv ul{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
}
.menuDiv a{
    text-decoration: none;
    color: black;
}
.menuDiv ul li a:hover{
    padding: 10px;
    background-color: #ccc;
    border-radius: 15px; ;
}

.redesDiv{
    width: 20%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.redesDiv ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 50px;
    margin: 20px;
}

.redesDiv img{
    width: 50px;
    height: auto;
    display: block;
}