h2{
    color: #00ff66;
    text-shadow: 0 0 8px rgba(0,255,102,0.6);
}

.Encabezado{
    background-color: #0b0b0b;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #00ff66;
}

.LogoDiv{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.LogoDiv img{
    width: 260px;
    filter: drop-shadow(0 0 10px rgba(0,255,102,0.6));
}


.menuDiv{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.menuDiv ul{
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: bold;
}

.menuDiv a{
    text-decoration: none;
    color: #eaeaea;
    padding: 10px 16px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.menuDiv ul li a:hover{
    background-color: #1a1a1a;
    color: #00ff66;
    box-shadow: 0 0 12px rgba(0,255,102,0.4);
}


.redesDiv{
    width: 20%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.redesDiv ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 50px;
    margin: 20px;
}

.redesDiv img{
    width: 50px;
    height: auto;
    display: block;
}