h1 {
    color: aqua;
}
h2 {
    color: lime;
}

.Encabezado {
    background-color: orange;
}
.Logo {
    width: 100px;
    height: auto;
}

nav {
    margin: 0 15px;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li {
    color: yellow;
}

li.redes{
    width: 100px;
    height: auto;
}